<div class="ui equal width center aligned padded grid" >
  <div class="row" style="margin-top: 10%;">
    <div class="column">
      <h2 class="ui image header">
        <div class="content">
          Log-in to your account
        </div>
      </h2>
      <form class="ui large form" (submit) = "onLogin(loginForm)" #loginForm = "ngForm">
        <div class="ui stacked secondary  segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="email" name="email" placeholder="E-mail address" name="email" ngModel #emailInput = "ngModel" required>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" ngModel placeholder="Password" #passwordInput="ngModel" required>
            </div>
          </div>
            <button type="submit" class="ui primary button" style="width: 100%;"> Login</button>

        </div>

        <div class="ui error message"></div>

      </form>
      <div class="ui error message" *ngIf="loginerrors.length>0">
        <p *ngFor="let error of loginerrors">{{ error.msg}}</p>
      </div>

      <div class="ui message">
        New to us? <a routerLink="/signup">Register</a>
      </div>
    </div>
    <div class="column">
      <img class="ui fluid image" src="../../../assets/Wavy_Tech-28_Single-10.jpg" alt="">
    </div>
  </div>
</div>
