<div class="ui doubling eight cards" >
  <div class="card" style="height: 10%; width: 10%;">
    <div class="image">
      <img src="../../../assets/no-time-like-tomorrow.webp">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>
  <div class="card" style="height: 10%; width: 10%;">
    <div class="image">
      <img src="../../../assets/the-road-to-hell.webp">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="2"></div>
    </div>
  </div>
  <div class="card" style="height: 10%; width: 10%;">
    <div class="image">
      <img src="../../../assets/the-stainless-steel-rat-for-president.webp">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="3"></div>
    </div>
  </div>
  <div class="card" style="height: 10%; width: 10%;">
    <div class="image">
      <img src="../../../assets/the-system-of-the-world.webp">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>
  <div class="card" style="height: 10%; width: 10%;">
    <div class="image">
      <img src="../../../assets/nine-princes-in-amber.webp">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="3"></div>
    </div>
  </div>
  <div class="card" style="height: 10%; width: 10%;">
    <div class="image">
      <img src="../../../assets/winters-heart.webp">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="3"></div>
    </div>
  </div>
  <div class="card" style="height: 10%; width: 10%;">
    <div class="image">
      <img src="../../../assets/permutation-city.webp">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>
  <div class="card" style="height: 10%; width: 10%;">
    <div class="image">
      <img src="../../../assets/the-road-to-hell.webp">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="2"></div>
    </div>
  </div>
  <div class="card" style="height: 10%; width: 10%;">
    <div class="image">
      <img src="../../../assets/the-stainless-steel-rat-for-president.webp">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="3"></div>
    </div>
  </div>
</div>


