<div class="ui grid" style="padding-left: 20%; padding-right: 20%; padding-top: 3%; padding-bottom: 3%;">
  <div class="sixteen wide column">
    <h1 class="ui header">
      <div class="reviewtitle">{{ review.title}}</div>
      <div class="sub header" style="padding-top: 2%; display: inline;" >
        {{review.subheader}}
         <br>
         <div style="padding-top: 2%; display: inline;">
          <img  class="ui avatar image" src="../../../assets/stevie(1).jpg">
          <span  style="padding-right:2% ; color: rgba(26, 137, 23, 1);" > {{userNames}} </span>
          <span>25 Jan</span>
          <i style="margin-left: 70%; cursor: pointer;" class="bookmark outline icon"></i>
        </div>
      </div>

    </h1>

    <div class="content">
      <quill-editor
				class="preview-editor"
				[ngModel]="review.content"
				placeholder="No description set."
				[modules]="viewOnlyEditorOption"
				[readOnly]="true"
			>
			</quill-editor>
    </div>
  </div>

  <div   class="twelve wide column">
    <div class="ui massive heart rating" data-rating="0" data-max-rating="1" style="padding-right: 5%;"></div>
    <i  class="large grey comment icon" style="padding-bottom: 5%; cursor: pointer;" (click)="toggleIsShowComments()"></i>
  </div>

  <div class="comments" *ngIf="isShowComments">
    <div class="twelve wide column">
      <div class="ui comments">
        <div class="comment">
          <a class="avatar">
            <img src="../../../assets/joe (1).jpg">
          </a>
          <div class="content">
            <a class="author">Joe Henderson</a>
            <div class="metadata">
              <div class="date">1 day ago</div>
            </div>
            <div class="text">
              <p>The hours, minutes and seconds stand as visible reminders that your effort put them all there. </p>
              <p>Preserve until your next run, when the watch lets you see how Impermanent your efforts are.</p>
            </div>
          </div>
        </div>
        <div class="comment">
          <a class="avatar">
            <img src="../../../assets/christian.jpg">
          </a>
          <div class="content">
            <a class="author">Christian Rocha</a>
            <div class="metadata">
              <div class="date">2 days ago</div>
            </div>
            <div class="text">
              I re-tweeted this.
            </div>
          </div>
        </div>
        <form class="ui reply form">
          <div class="field">
            <textarea></textarea>
          </div>
          <div class="ui primary submit labeled icon button">
            <i class="icon edit"></i> Add Comment
          </div>
        </form>
      </div>
    </div>
  </div>

</div>


