<div class="ui menu" >
  <div class="item pull right">
    <a routerLink="/signup">
      <div class="ui primary button" >  Sign up</div>
    </a>
  </div>
  <div class="item" >
    <a routerLink="/login">
      <div class="ui button">Log-in</div>
    </a>
  </div>
</div>
<div class="ui equal width center aligned padded grid">
  <div class="row">
    <div class=" column">
      <div class="content" style="margin-top: 15%; margin-left: 10%; width: 80%;">
        <img src="../../assets/main-logo.jfif" alt="">
        <h3>
          Get Paid to Review Books, Completely Free
          Our reviewers tend to write about one review a month for us, and receive a byline and modest payment.
         Interact with like minded folks as you. Share your favourite book and talk about it.
        </h3>
        <button class="ui primary button">Join Us</button>
      </div>
    </div>
    <div class="   column" style="margin-top: 3%;">
      <img class="ui fluid image" src="../assets/5836.jpg" alt="">
    </div>
  </div>
</div>
