<div class="ui menu" >
  <div class="item pull right">
    <a routerLink="/signup">
      <div class="ui primary button" >  Sign up</div>
    </a>
  </div>
  <div class="item" >
    <a routerLink="/login">
      <div class="ui button">Log-in</div>
    </a>
  </div>
</div>
<div class="ui equal width center aligned padded grid">
  <div class="row">
    <div class=" column">
      <div class="content" style="margin-top: 40%; margin-left: 10%; width: 80%;">
        <h3>
          Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Quidem rem atque non minima officia repellendus, aperiam temporibus illo illum totam?
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis.
        </h3>
        <button class="ui primary button">Join Us</button>
      </div>
    </div>
    <div class="   column" style="margin-top: 3%;">
      <img class="ui fluid image" src="../assets/5836.jpg" alt="">
    </div>
  </div>
</div>
