<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <div class="content">
        Sign Up
      </div>
    </h2>
    <form class="ui large form" (submit) = "onSignUp(signupForm)" #signupForm = "ngForm">
      <div class="ui stacked secondary  segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" ngModel placeholder="User Name" #userNameInput="ngModel" required>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="email" name="email" placeholder="E-mail address" name="email" ngModel #emailInput = "ngModel" required>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="name" ngModel placeholder="Name" #nameInput="ngModel">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" ngModel placeholder="Password" #passwordInput="ngModel" required>
          </div>
        </div>
        <button type="submit" class="ui primary button" style="width: 100%;"> Sign Up</button>
      </div>

    </form>
    <div class="ui error message">
      <p>You can only sign up for an account once with a given e-mail address.</p>
    </div>
    <div class="ui message">
      Already have an account? <a routerLink="/login">Login</a>
    </div>
  </div>
</div>
