<div class="ui card" style="width: 100%">
  <div class="content">
    <div class="header">Cute Dog</div>
    <div class="meta">
      <span class="right floated time">2 days ago</span>
      <span class="category">Animals</span>
    </div>
    <div class="description">
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque consequuntur maxime maiores error molestias! Autem,
        ea aspernatur nulla, illo deserunt illum quis pariatur error vel quos, accusamus ipsam voluptatibus impedit. </p>
    </div>
  </div>
  <div class="extra content">
    <div class="right floated author">
      <img class="ui avatar image" src="../../../assets/matt.jpg"> Matt
    </div>
  </div>
</div>

<div class="ui card" style="width: 100%">
  <div class="content">
    <div class="header">Cute Dog</div>
    <div class="meta">
      <span class="right floated time">2 days ago</span>
      <span class="category">Animals</span>
    </div>
    <div class="description">
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque consequuntur maxime maiores error molestias! Autem,
        ea aspernatur nulla, illo deserunt illum quis pariatur error vel quos, accusamus ipsam voluptatibus impedit. </p>
    </div>
  </div>
  <div class="extra content">
    <div class="right floated author">
      <img class="ui avatar image" src="../../../assets/matt.jpg"> Matt
    </div>
  </div>
</div>
<div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="header">Elliot Fu</div>
      <div class="meta">Friend</div>
      <div class="description">
        Elliot Fu is a film-maker from New York.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Veronika Ossi</div>
      <div class="meta">Friend</div>
      <div class="description">
        Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Jenny Hess</div>
      <div class="meta">Friend</div>
      <div class="description">
        Jenny is a student studying Media Management at the New School
      </div>
    </div>
  </div>
</div>
