<div class="ui card" style="width: 100%">
  <div class="content">
    <div class="header">Cute Dog</div>
    <div class="meta">
      <span class="right floated time">2 days ago</span>
      <span class="category">Animals</span>
    </div>
    <div class="description">
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque consequuntur maxime maiores error molestias! Autem,
        ea aspernatur nulla, illo deserunt illum quis pariatur error vel quos, accusamus ipsam voluptatibus impedit. </p>
    </div>
  </div>
  <div class="extra content">
    <div class="right floated author">
      <img class="ui avatar image" src="../../../assets/matt.jpg"> Matt
    </div>
  </div>
</div>

<div class="ui card" style="width: 100%">
  <div class="content">
    <div class="header">Cute Dog</div>
    <div class="meta">
      <span class="right floated time">2 days ago</span>
      <span class="category">Animals</span>
    </div>
    <div class="description">
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque consequuntur maxime maiores error molestias! Autem,
        ea aspernatur nulla, illo deserunt illum quis pariatur error vel quos, accusamus ipsam voluptatibus impedit. </p>
    </div>
  </div>
  <div class="extra content">
    <div class="right floated author">
      <img class="ui avatar image" src="../../../assets/matt.jpg"> Matt
    </div>
  </div>
</div>
