<a *ngFor="let review of allreview" [routerLink]="'review/'+ review._id" style="padding-top: 2%; cursor: pointer;" >
  <div class="ui card" style="width: 100% " >
    <div class="content">
      <div class="header">{{ review.title}}</div>
      <div class="meta">
        <span class="right floated time">2 days ago</span>
        <span class="category">{{ review.subheader}}</span>
      </div>
      <div class="description">
        <quill-editor
          class="preview-editor"
          [ngModel]="stripTags(review.content)"
          placeholder="No description set."
          [modules]="viewOnlyEditorOption"
          [readOnly]="true"
        >
        </quill-editor>
      </div>
    </div>
    <div class="extra content">
      <div class="right floated author">
        <img class="ui avatar image" src="../../../assets/matt.jpg"> Matt
      </div>
    </div>
  </div>
  <br>
  <br>
</a>

<app-post-list></app-post-list>
