<div class="ui four cards">
  <div class="card" style="height: 10%; width: 10%;">
    <div class="image">
      <img src="../../assets/ableson.jpg">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>
  <div class="card" style="height: 10%; width: 10%;">
    <div class="image">
      <img src="../../assets/ableson.jpg">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="2"></div>
    </div>
  </div>
  <div class="card" style="height: 10%; width: 10%;">
    <div class="image">
      <img src="../../assets/ableson.jpg">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="3"></div>
    </div>
  </div>
  <div class="card" style="height: 10%; width: 10%;">
    <div class="image">
      <img src="../../assets/ableson.jpg">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>
  <div class="card" style="height: 10%; width: 10%;">
    <div class="image">
      <img src="../../assets/ableson.jpg">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="3"></div>
    </div>
  </div>
  <div class="card" style="height: 10%; width: 10%;">
    <div class="image">
      <img src="../../assets/ableson.jpg">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="3"></div>
    </div>
  </div>
  <div class="card" style="height: 10%; width: 10%;">
    <div class="image">
      <img src="../../assets/ableson.jpg">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>
  <div class="card" style="height: 10%; width: 10%;">
    <div class="image">
      <img src="../../assets/ableson.jpg">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>
</div>
