<div class="ui grid" style="padding: 5%;">
  <div class="  twelve wide column">
    <div class="ui segment">
     <h2>Anurag Singh <i class="check blue circle outline icon"></i></h2> <span> </span>
     <p>Currently Reading : Some Random Book</p>
     <div style="display: flex">
      <h3 style="padding-right: 1%;">About :</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quisquam, consequatur aut rem ducimus magni?</p>
     </div>
     <div style="display: flex;">
      <div>
        <a class="ui image label">
          <img src="../../../assets/joe (1).jpg">
          Joe
        </a>
        <a class="ui image label">
          <img src="../../../assets/stevie(1).jpg">
          Elliot
        </a>
        <a class="ui image label">
          <img src="../../../assets/elliot (1).jpg">
          Stevie
        </a>
      </div>
      <div style="padding-top: 8px; padding-left: 10px;">
        <a >....    See All</a>
      </div>
      <div style="padding-left: 67%;">
        <a class="item" style="cursor: pointer;"><i class="edit icon"></i></a>
      </div>

     </div>
    </div>
  </div>
  <div class="right floated left aligned four wide column">
    <img class="ui small circular image" src="../../../assets/steve.jpg">
    <div style="padding-top: 2%;">
      <h4 style="padding-left: 9%;" class="ui header">Anurag Singh</h4>
    </div>
  </div>

  <div class="sixteen wide column">
    <div class="ui secondary  menu">
      <a class="active item">
        Home
      </a>
      <a class="item">
        Posts
      </a>
      <a class="item">
        Reviews
      </a>
      <a class="item">
        Followers
      </a>
      <a class="item">
        Following
      </a>
      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
