<div class="ui grid" style="padding: 5%;">
  <div class="  twelve wide column">
    <div class="ui segment">
     <h2> {{profileStatus.name}} <i class="check blue circle outline icon"></i></h2> <span> </span>
     <p *ngIf="profileStatus.status !== ''">{{profileStatus.status}}</p>
     <div style="display: flex">
      <h3 style="padding-right: 1%;">About :</h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quisquam, consequatur aut rem ducimus magni?</p>
     </div>
     <div style="display: flex;">
      <a class="ui tag label"  *ngFor="let interest of profileStatus.interests; let i = index " [ngClass]="randomColour(i)">{{interest}}</a>
      <div style="padding-left: 67%;" (click)="openEditProfileModal()">
        <a class="item" style="cursor: pointer;"><i class="edit icon"></i></a>
      </div>

     </div>
    </div>
  </div>
  <div class="right floated left aligned four wide column">
    <img class="ui small circular image" src="../../../assets/steve.jpg">
    <div style="padding-top: 2%;">
      <h4 style="padding-left: 9%;" class="ui header">Anurag Singh</h4>
    </div>
  </div>


<div class="sixteen wide column">
  <div class="ui pointing menu">
    <a class=" item" [ngClass]="activeTab==='home' ? 'active' : ''" (click)="changeTab('home')" >
      Home
    </a>
    <a class="item" [ngClass]="activeTab==='posts' ? 'active' : ''" (click)="changeTab('posts')">
      Posts
    </a>
    <a class="item" [ngClass]="activeTab==='reviews' ? 'active' : ''" (click)="changeTab('reviews')">
      Reviews
    </a>
    <a class="item" [ngClass]="activeTab==='drafts' ? 'active' : ''" (click)="changeTab('drafts')">
      Drafts
    </a>
    <a class="item" [ngClass]="activeTab==='followers' ? 'active' : ''" (click)="changeTab('followers')">
      Followers
    </a>
    <a class="item" [ngClass]="activeTab==='following' ? 'active' : ''" (click)="changeTab('following')">
      Following
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Home -->
  <div class="ui segment" *ngIf="activeTab==='home'">
    <app-review-list></app-review-list>
  </div>

  <!-- Posts -->
  <div class="ui segment" *ngIf="activeTab==='posts'">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatem perferendis veniam ullam facilis velit odit tenetur voluptates rerum officiis porro eligendi quisquam eum praesentium harum, dolorum neque accusamus sit iusto magnam mollitia. Eaque natus quis voluptatem accusantium similique laborum blanditiis corrupti fugiat, accusamus atque voluptates, error unde voluptas totam? </p>
  </div>

  <!-- Reviews -->
  <div class="ui segment" *ngIf="activeTab==='reviews'">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatem perferendis veniam ullam facilis velit odit tenetur voluptates rerum officiis porro eligendi quisquam eum praesentium harum, dolorum neque accusamus sit iusto magnam mollitia. Eaque natus quis voluptatem accusantium similique laborum blanditiis corrupti fugiat, accusamus atque voluptates, error unde voluptas totam? </p>
  </div>

  <!-- Drafts -->

  <div class="ui segment" *ngIf="activeTab==='drafts'">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatem perferendis veniam ullam facilis velit odit tenetur voluptates rerum officiis porro eligendi quisquam eum praesentium harum, dolorum neque accusamus sit iusto magnam mollitia. Eaque natus quis voluptatem accusantium similique laborum blanditiis corrupti fugiat, accusamus atque voluptates, error unde voluptas totam? </p>
  </div>

  <!-- Followers -->
  <div class="ui segment" *ngIf="activeTab==='followers'">
    <app-users-list></app-users-list>
  </div>

  <!-- Following -->
  <div class="ui segment" *ngIf="activeTab==='following'">
    <app-users-list></app-users-list>
  </div>
</div>

<div class="ui small modal" id="editProfile">
  <i class="close icon"></i>
  <div class="header">
  Edit Profile
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="../../../assets/steve.jpg">
    </div>
    <div class="description">
      <form class="ui form" (submit) = "onProfileUpdate(profileUpdateForm)" #profileUpdateForm = "ngForm">
        <div class="field">
          <label> Name</label>
          <input type="text" name="name" placeholder="Name" ngModel #nameInput = "ngModel" required>
        </div>
        <div class="ui selection dropdown">
          <input type="hidden" >
          <i class="dropdown icon"></i>
          <div class="default text">Status</div>
          <div class="menu">
            <div class="item" data-value="Currently Reading" (click)="setStatus('Currently Reading')">Currently Reading</div>
            <div class="item" data-value="Just Finished Reading" (click)="setStatus('Just Finished Reading')">Just Finished Reading</div>
            <div class="item" data-value="Thinking About Reading" (click)="setStatus('Thinking About Reading')">Thinking About Reading</div>
          </div>
        </div>

        <div class="field">
          <label>Book Name</label>
          <input type="text" name="statusbookname" placeholder="Book Name" ngModel #statusbookname = "ngModel" required>
        </div>

        <div class="field">
          <label>Interests</label>
          <textarea rows="2" name="interests" ngModel #interestsInput = "ngModel" required></textarea>
        </div>
        <button class="ui button" type="submit">Submit</button>
      </form>
    </div>
  </div>

</div>
