<div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="header">Surely You're Joking, Mr. Feynman!</div>
      <div class="meta">Philosphy</div>
      <div class="description">
        "Surely You're Joking, Mr. Feynman!": Adventures of a Curious Character is an edited collection of reminiscences by the Nobel Prize-winning physicist Richard Feynman.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Veronika Ossi</div>
      <div class="meta">Friend</div>
      <div class="description">
        Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Jenny Hess</div>
      <div class="meta">Friend</div>
      <div class="description">
        Jenny is a student studying Media Management at the New School
      </div>
    </div>
  </div>

</div>
